<div class="container mt-4">
  <!-- Modal de confirmation -->
  <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Confirmer la Validation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Êtes-vous sûr de vouloir valider cette demande ? Cette action est irréversible.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary" (click)="confirmValidation()">Confirmer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal de refus -->
  <div class="modal fade" id="refusModal" tabindex="-1" aria-labelledby="refusModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="refusModalModalLabel">Confirmation de Refus</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Êtes-vous sûr de vouloir refuser cette demande ?
          <div class="mb-3 mt-3">
            <label for="motifRefus" class="form-label">Motif de refus :</label>
            <textarea id="motifRefus" class="form-control" [(ngModel)]="motifRefus" rows="3" required></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-danger" (click)="confirmSuppression()">Refuser</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal de demande d'information -->
  <div class="modal fade" id="infoRequestModal" tabindex="-1" aria-labelledby="infoRequestModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoRequestModal">Demande d'Informations Supplémentaires</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="infoRequestForm" (ngSubmit)="sendInfoRequest()">
            <div class="mb-3">
              <label for="infoRequestDocuments" class="form-label">Noms des Documents :</label>
              <div id="infoRequestDocuments" formArrayName="documents">
                <!-- Premier champ toujours présent -->
                <div class="input-group mb-2" *ngFor="let document of documents.controls; let i = index" [formGroupName]="i">
                  <input
                    type="text"
                    class="form-control form-control-sm input-fixed-size"
                    formControlName="name"
                    required
                  />
                  <button
                    type="button"
                    class="btn btn-danger btn-sm ms-2"
                    (click)="removeDocument(i)"
                    *ngIf="documents.length > 1"
                  >
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>

              <button
                type="button"
                class="btn btn-secondary btn-sm mt-2"
                (click)="addDocument()"
              >
                Ajouter un document
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-warning">Envoyer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation et titre -->
  <nav aria-label="breadcrumb" class="mb-4">
    <div class="d-flex align-items-start justify-content-between">
      <!-- Breadcrumb Navigation -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages / Demandes</a></li>
          <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Détails</li>
        </ol>
        <h6 class="font-weight-bolder mb-0">Détails de la déclaration</h6>
      </nav>

      <!-- Bouton d'export PDF -->
      <button class="btn btn-primary ms-auto" *ngIf="details[0]" (click)="exportPdf(details[0].iddemande)">
        <i class="fas fa-file-pdf me-2"></i> Télécharger PDF
      </button>
    </div>

  </nav>


  <!-- En-tête avec bouton Retour et actions -->
  <div class="d-flex justify-content-between align-items-start mb-4">
    <button (click)="goBack()" class="btn btn-secondary">
      <i class="fas fa-arrow-left"></i> Retour
    </button>

    <!-- Afficher les boutons si le statut est 1 -->
    <div *ngIf="details[0]?.status === 1; else statusLabel" class="d-flex ms-auto">
      <a data-bs-toggle="modal" data-bs-target="#confirmationModal" class="btn btn-success btn-square text-white px-3 mx-2" title="Valider">
        <i class="fas fa-check"></i>
      </a>
      <a href="#" class="btn btn-danger btn-square text-white px-3 mx-2" data-bs-toggle="modal" data-bs-target="#refusModal" title="Refuser">
        <i class="fas fa-times"></i>
      </a>
      <a data-bs-toggle="modal" data-bs-target="#infoRequestModal" class="btn btn-warning btn-square text-white px-3 mx-2" title="Demander Info">
        <i class="fas fa-envelope"></i>
      </a>
    </div>

    <!-- Afficher les boutons et le statusLabel si le statut est null -->
    <div *ngIf="details[0]?.status === null; else statusLabel" class="d-flex align-items-center">
      <a data-bs-toggle="modal" data-bs-target="#confirmationModal" class="btn btn-success btn-square text-white px-3 mx-1" title="Valider">
        <i class="fas fa-check"></i>
      </a>
      <a href="#" class="btn btn-danger btn-square text-white px-3 mx-1" data-bs-toggle="modal" data-bs-target="#refusModal" title="Refuser">
        <i class="fas fa-times"></i>
      </a>
      <div *ngIf="details && details.length > 0" class="btn btn-xl bg-gradient-warning ms-2">
        {{ getStatusLabel(details[0].status) }}
      </div>
    </div>

    <!-- Afficher uniquement le statusLabel pour les autres statuts -->
    <ng-template #statusLabel>
      <div
        [ngClass]="{
          'bg-gradient-success': details[0].status === 2,
          'bg-gradient-warning': details[0].status === 3
        }"
      *ngIf="details[0]" >
      </div>
    </ng-template>

  </div>

  <!-- Informations sur la déclaration -->
  <div class="mb-4">
    <!-- Messages de succès ou d'erreur -->
    <div class="message">
      <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
      </div>

      <div *ngIf="errorMessage" class="alert alert-warning">
        {{ errorMessage }}
      </div>
    </div>

    <div *ngIf="formVisible && details[0]?.status === null && documents.length > 0" class="card mb-3">
      <div class="card-body">
        <h6 class="card-title">Documents supplémentaires à ajouter :</h6>
        <form [formGroup]="form" (ngSubmit)="onSubmitDocumentSupplementaire()">
          <div formArrayName="documents" class="row">
            <div *ngFor="let document of documents.controls; let i = index" [formGroupName]="i" class="col-md-6 mb-3">
              <input type="hidden" formControlName="iddocumentsupplementaire" value="iddocumentsupplementaire{{i}}">
              <div class="form-group">
                <label for="nomfichier{{i}}">Nom du fichier :</label>
                <input type="text" id="nomfichier{{i}}" formControlName="nomfichier" class="form-control" readonly>
              </div>
              <div class="form-group mt-2">
                <label for="fichier{{i}}">Fichier :</label>
                <input type="file" id="fichier{{i}}" (change)="onFileSelected($event, i)" class="form-control" accept=".pdf">
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary mt-3" [disabled]="form.invalid">Soumettre</button>
        </form>
      </div>
    </div>


    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
          <div>
            <h5 class="text-primary mb-3" *ngIf="details[0]">
              <span style="word-wrap: break-word;">{{ details[0].nomtypeformulaire }}</span>
            </h5>
            <p class="text-muted mb-2">
              <i class="fas fa-map-marker-alt me-2"></i>
              <span class="text-sm" *ngIf="details[0]">{{ details[0].nomville }}</span>
            </p>
            <p class="text-muted mb-2">
              <span class="text-sm font-weight-bold">Opérateur: </span>
              <span class="text-sm" *ngIf="details[0]">{{ details[0].nomoperateur }}</span>
            </p>
            <p class="text-muted mb-2">
              <span class="text-sm font-weight-bold">Adresse: </span>
              <span class="text-sm" *ngIf="details[0]">{{ details[0].adresse }}</span>
            </p>
            <p class="text-muted">
              <span class="text-sm font-weight-bold">Date de Demande: </span>
              <span class="text-sm" *ngIf="details[0]">{{ details[0].datedemande | date:'dd/MM/yyyy' }}</span>
            </p>
          </div>

          <!-- Vérifiez si la date de déclaration existe déjà -->
          <div *ngIf="hasDeclarationDate(); else showForm">
            <!-- Affichage des dates -->
            <div class="d-flex flex-column">
              <p class="text-muted">
              <span class="text-sm font-weight-bold">Date de Déclaration: </span>
              <span class="text-success font-weight-bold ms-xs-2" *ngIf="details[0]">{{ details[0].datedeclaration | date: 'dd/MM/yyyy' }}</span>
              </p>

              <p class="text-muted" *ngIf="details[0].dateexpiration">
              <span class="text-sm font-weight-bold">Date d'expiration: </span>
              <span class="text-danger font-weight-bold ms-xs-2">{{ details[0].dateexpiration | date: 'dd/MM/yyyy' }}</span>
              </p>
            </div>
          </div>

          <!-- Formulaire d'ajout de date de déclaration (affiché si datedeclaration est null) -->
          <ng-template #showForm>
            <form (ngSubmit)="onSubmitDateDeclaration(details[0].iddemande)" class="ms-auto d-flex" *ngIf="details[0]?.status === 2 && !details[0].datedeclaration">
              <div class="form-group me-2">
                <label for="declarationDate" class="form-label">Ajouter Date de Déclaration</label>
                <input type="date" id="declarationDate" class="form-control" name="declarationDate" [(ngModel)]="declarationDate" required>
              </div>
              <button type="submit" class="btn btn-primary align-self-end">Enregistrer</button>
            </form>
          </ng-template>

        </div>
      </div>
    </div>
  </div>


  <!-- Détails de l'opérateur -->
  <div class="mb-4">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
          <h6 class="text-white">Renseignements sur l’opérateur</h6>
          <button type="button" class="btn btn-box-tool btn-sm text-white" (click)="toggleCollapseStatic()">
            <i class="fa" [ngClass]="{'fa-minus': !isCollapsedStatic, 'fa-plus': isCollapsedStatic}"></i>
          </button>
        </div>
        <div [ngClass]="{'collapse': isCollapsedStatic}" class="card-body">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="nomoperateur" class="form-label">Nom de l'opérateur :</label>
              <p *ngIf="details[0]">{{ details[0].nomoperateur }}</p>
            </div>
            <div class="col-md-6 mb-3">
              <label for="email" class="form-label">Email de l'opérateur :</label>
              <p *ngIf="details[0]">{{ details[0].email }}</p>
            </div>
            <div class="col-md-6 mb-3">
              <label for="adresseoperateur" class="form-label">Adresse :</label>
              <p *ngIf="details[0]">{{ details[0].adresse }}</p>
            </div>
            <div class="col-md-6 mb-3">
              <label for="idville" class="form-label">Ville :</label>
              <p *ngIf="details[0]">{{ details[0].nomville }}</p>
            </div>
            <div class="col-md-6 mb-3">
              <label for="telephone" class="form-label">Téléphone :</label>
              <p *ngIf="details[0]">{{ details[0].telephone }}</p>
            </div>
            <div class="col-md-6 mb-3">
              <label for="telecopie" class="form-label">Télécopie :</label>
              <p *ngIf="details[0]">{{ details[0].telecopie }}</p>
            </div>
            <div class="col-md-6 mb-3">
              <label for="idstructurejuridique" class="form-label">Structure Juridique :</label>
              <p *ngIf="details[0]">{{ details[0].nomstructurejuridique }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Détails par catégorie -->
  <div class="row">
    <div class="col-12">
      <ng-container *ngFor="let category of categories; let idx = index;">
        <div class="card mb-4">
          <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h6 class="text-white" style="word-wrap: break-word; white-space: normal;">{{ category.name }}</h6>
            <button type="button" class="btn btn-box-tool btn-sm text-white" (click)="toggleCollapse(idx)" [attr.aria-expanded]="!isCollapsed[idx]">
              <i class="fa" [ngClass]="{'fa-minus': !isCollapsed[idx], 'fa-plus': isCollapsed[idx]}"></i>
            </button>
          </div>
          <div class="card-body" *ngIf="!isCollapsed[idx]">
            <div *ngIf="category.id === 41 || category.id === 42" class="table-responsive">
              <table class="table table-striped table-hover table-bordered">
                <thead class="thead-light">
                  <tr>
                    <th *ngFor="let question of getUniqueQuestions(category.questions)"> <label for="{{ question.textquestion }}">{{ question.textquestion }}</label></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let row of getResponsesByQuestion(category.questions)">
                    <tr>
                      <td *ngFor="let question of getUniqueQuestions(category.questions)" class="p-4">
                        <ng-container *ngIf="row[question.textquestion] as response">
                          <ng-container [ngSwitch]="response.typequestion">
                            <ng-container *ngSwitchCase="'text'">
                              <span>{{ response.textereponse || 'Aucune réponse disponible' }}</span>
                            </ng-container>
                            <ng-container *ngSwitchCase="'number'">
                              <span>{{ response.nombrereponse || 'Aucune réponse disponible' }}</span>
                            </ng-container>
                            <ng-container *ngSwitchCase="'file'">
                              <a *ngIf="response.filereponse"
                                 [href]="'http://127.0.0.1:8000/' + response.filereponse"
                                 target="_blank">{{ response.filereponse }}</a>
                              <span *ngIf="!response.filereponse">Aucune réponse disponible</span>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                              <span>Aucune réponse disponible</span>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
            </div>

            <!-- Autres catégories sous forme de liste -->
            <div *ngIf="!(category.id === 41 || category.id === 42)">
              <div class="row">
                <ng-container *ngFor="let detail of category.questions">
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label [for]="detail.textquestion">{{ detail.textquestion }} :</label>
                      <td *ngIf="detail.textereponse">{{ detail.textereponse }}</td>
                      <td *ngIf="detail.nombrereponse">{{ detail.nombrereponse }}</td>
                      <td *ngIf="detail.filereponse">
                        <a [href]="'http://127.0.0.1:8000/' + detail.filereponse" target="_blank">{{ detail.filereponse }}</a>
                      </td>
                      <p *ngIf="!detail.textereponse && !detail.nombrereponse && !detail.filereponse">Aucune réponse disponible</p>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </ng-container>



      <div class="card mb-4" *ngIf="documentssupplementaires.length > 0">
        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
          <h6 class="text-white">Documents supplémentaires</h6>
          <button type="button" class="btn btn-box-tool btn-sm text-white"
                  (click)="toggleCollapseDoc()"
                  [attr.aria-expanded]="!isCollapsedDoc">
            <i class="fa" [ngClass]="{'fa-minus': !isCollapsedDoc, 'fa-plus': isCollapsedDoc}"></i>
          </button>
        </div>
        <div class="card-body" *ngIf="!isCollapsedDoc">
          <div class="row">
            <div class="col-md-6 mb-3" *ngFor="let doc of documentssupplementaires">
              <div class="form-group">
                <label>{{ doc.nomdocument }} :</label>
                <p>
                  <a [href]="'http://127.0.0.1:8000/' + doc.filesupplementaire" target="_blank">{{ doc.filesupplementaire }}</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Bouton Retour en haut de la page -->
<a class="btn btn-primary position-fixed bottom-0 end-0 m-2" (click)="scrollToTop()">
  <i class="fas fa-arrow-up"></i>
</a>
