<div class="container mt-4">
  <!-- Modal de confirmation -->
  <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Confirmer la Validation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Êtes-vous sûr de vouloir valider cette demande ? Cette action est irréversible.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary" (click)="confirmValidation()">Confirmer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal de refus -->
  <div class="modal fade" id="refusModal" tabindex="-1" aria-labelledby="refusModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="refusModalModalLabel">Confirmation de Suppression</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Êtes-vous sûr de vouloir supprimer cette demande ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-danger" (click)="confirmSuppression()">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal de demande d'information -->
  <div class="modal fade" id="infoRequestModal" tabindex="-1" aria-labelledby="infoRequestModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="infoRequestModal">Demander des Informations Supplémentaires</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="sendInfoRequest()">
            <div class="mb-3">
              <label for="infoRequestMessage" class="form-label">Message :</label>
              <textarea id="infoRequestMessage" class="form-control" rows="4" [(ngModel)]="infoRequestMessage" name="infoRequestMessage" required></textarea>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="submit" class="btn btn-warning">Envoyer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigation et titre -->
  <nav aria-label="breadcrumb" class="mb-4">
    <div class="d-flex align-items-center justify-content-between">
      <!-- Breadcrumb Navigation -->
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0">
        <li class="breadcrumb-item text-sm">
          <a class="opacity-5 text-dark" href="javascript:;">Pages / Demande de déclaration</a>
        </li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Détails</li>
      </ol>

      <!-- Bouton d'export PDF -->
      <button class="btn btn-primary ms-auto" (click)="exportPdf(details[0].iddemande)">
        <i class="fas fa-file-pdf me-2"></i> Exporter en PDF
      </button>
    </div>

    <h6 class="font-weight-bolder mb-0">Détails de la déclaration</h6>
  </nav>


  <!-- En-tête avec bouton Retour et actions -->
  <div class="d-flex justify-content-between align-items-start mb-4">
    <a [routerLink]="['/admin/demandes']" class="btn btn-secondary">
      <i class="fas fa-arrow-left"></i> Retour
    </a>
    <!-- Afficher les boutons si le statut est 1 -->
    <div *ngIf="details[0]?.status === 1; else statusLabel" class="d-flex">
      <a data-bs-toggle="modal" data-bs-target="#confirmationModal" class="btn btn-success btn-square text-white px-3 mx-2" title="Valider">
        <i class="fas fa-check"></i>
      </a>
      <a href="#" class="btn btn-danger btn-square text-white px-3 mx-2" data-bs-toggle="modal" data-bs-target="#refusModal" title="Supprimer">
        <i class="fas fa-trash"></i>
      </a>
      <a data-bs-toggle="modal" data-bs-target="#infoRequestModal" class="btn btn-warning btn-square text-white px-3 mx-2" title="Demander Info">
        <i class="fas fa-envelope"></i>
      </a>
    </div>

    <!-- Afficher l'état de la demande si le statut est différent de 1 -->
    <ng-template #statusLabel>
      <div
        class="btn btn-xl"
        [ngClass]="{
          'bg-gradient-success': details[0].status === 2,
          'bg-gradient-warning': details[0].status === 3,
          'bg-gradient-secondary': details[0].status === null
        }"
      >
        {{ getStatusLabel(details[0].status) }}
      </div>
    </ng-template>

  </div>

  <!-- Informations sur la déclaration -->
  <div class="mb-4">
    <!-- Messages de succès ou d'erreur -->
    <div class="message">
      <div *ngIf="successMessage" class="alert alert-success">
        {{ successMessage }}
      </div>

      <div *ngIf="errorMessage" class="alert alert-warning">
        {{ errorMessage }}
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h6 class="text-primary mb-3">{{ details[0].nomtypeformulaire }}</h6>
        <p class="text-muted mb-2">
          <i class="fas fa-map-marker-alt me-2"></i>
          <span class="text-sm">{{ details[0].nomville }}</span>
        </p>
        <p class="text-muted mb-2">
          <span class="text-sm font-weight-bold">Opérateur: </span>
          <span class="text-sm">{{ details[0].nomoperateur }}</span>
        </p>
        <p class="text-muted">
          <span class="text-sm font-weight-bold">Date de Déclaration: </span>
          <span class="text-sm">{{ details[0].datedeclaration | date:'dd/MM/yyyy' }}</span>
        </p>
      </div>
    </div>
  </div>

  <!-- Détails de l'opérateur -->
  <div class="mb-4">
    <div class="card">
      <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
        <h6 class="text-white">Renseignements sur l’opérateur</h6>
        <button type="button" class="btn btn-box-tool btn-sm text-white" (click)="toggleCollapseStatic()">
          <i class="fa" [ngClass]="{'fa-minus': !isCollapsedStatic, 'fa-plus': isCollapsedStatic}"></i>
        </button>
      </div>
      <div [ngClass]="{'collapse': isCollapsedStatic}" class="card-body">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="nomoperateur" class="form-label">Nom de l'opérateur :</label>
            <p>{{ details[0].nomoperateur }}</p>
          </div>
          <div class="col-md-6 mb-3">
            <label for="email" class="form-label">Email de l'opérateur :</label>
            <p>{{ details[0].email }}</p>
          </div>
          <div class="col-md-6 mb-3">
            <label for="adresseoperateur" class="form-label">Adresse :</label>
            <p>{{ details[0].adresse }}</p>
          </div>
          <div class="col-md-6 mb-3">
            <label for="idville" class="form-label">Ville :</label>
            <p>{{ details[0].nomville }}</p>
          </div>
          <div class="col-md-6 mb-3">
            <label for="telephone" class="form-label">Téléphone :</label>
            <p>{{ details[0].telephone }}</p>
          </div>
          <div class="col-md-6 mb-3">
            <label for="telecopie" class="form-label">Télécopie :</label>
            <p>{{ details[0].telecopie }}</p>
          </div>
          <div class="col-md-6 mb-3">
            <label for="idstructurejuridique" class="form-label">Structure Juridique :</label>
            <p>{{ details[0].nomstructurejuridique }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Détails par catégorie -->
  <div class="row">
    <div class="col-12">
      <ng-container *ngFor="let category of categories; let idx = index;">
        <div class="card mb-4">
          <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
            <h6 class="text-white">{{ category.name }}</h6>
            <button type="button" class="btn btn-box-tool btn-sm text-white"
                (click)="toggleCollapse(idx)" [attr.aria-expanded]="!isCollapsed[idx]">
                <i class="fa" [ngClass]="{'fa-minus': !isCollapsed[idx], 'fa-plus': isCollapsed[idx]}"></i>
            </button>
          </div>
          <div class="card-body" *ngIf="!isCollapsed[idx]">
            <div class="row">
              <ng-container *ngFor="let detail of category.questions">
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label [for]="detail.textquestion">{{ detail.textquestion }} :</label>
                    <ng-container [ngSwitch]="detail.typequestion">
                      <ng-container *ngSwitchCase="'text'">
                        <p *ngIf="detail.textereponse">
                          {{ detail.textereponse }}
                        </p>
                      </ng-container>
                      <ng-container *ngSwitchCase="'number'">
                        <p *ngIf="detail.nombrereponse">
                          {{ detail.nombrereponse }}
                        </p>
                      </ng-container>
                      <ng-container *ngSwitchCase="'file'">
                        <p *ngIf="detail.filereponse">
                          <a [href]="'http://127.0.0.1:8000/' + detail.filereponse" target="_blank">{{ detail.filereponse }}</a>
                        </p>
                      </ng-container>
                      <ng-container *ngSwitchDefault>
                        <p>Aucune réponse disponible</p>
                      </ng-container>
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
