<section class="min-vh-100 mb-8">
  <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style="background-image: url('assets/img/curved-images/artecBackground.jpg');">
    <span class="mask bg-gradient-primary opacity-0.5"></span>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5 text-center mx-auto">
          <h1 class="text-white mb-2 mt-5">Bienvenue</h1>
          <p class="text-lead text-white"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-lg-n10 mt-md-n11 mt-n10">
      <div class="col-xl-5 col-lg-6 col-md-8 mx-auto">
        <div class="card z-index-0">
          <div class="card-header text-center pt-4">
            <h5 class="mb-4">Inscription</h5>
            <!-- Progress Bar -->
            <!-- <div class="progress">
              <div class="progress-bar" role="progressbar" [style.width.%]="currentStep === 1 ? 50 : 100" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div> -->
          </div>
          <p class="text-center fs-10">
            Inscrivez-vous en fournissant vos informations.
          </p>

          <div class="card-body">
            <div *ngIf="success" class="alert alert-success">
              {{ success }}
            </div>
            <div *ngIf="error" class="alert alert-warning">
              {{ error }}
            </div>
            <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
              <!-- Étape 1 -->
              <div *ngIf="currentStep === 1">
                <div class="mb-3">
                  <label for="name" class="form-label">Nom <span class="text-danger">*</span></label>
                  <input formControlName="name" id="name" type="text" class="form-control" placeholder="Nom" aria-label="Name">
                  <small *ngIf="registrationForm.get('name')?.errors && registrationForm.get('name')?.touched" class="text-danger">
                    <small *ngIf="registrationForm.get('name')?.hasError('required')">Le champ nom est obligatoire.</small>
                  </small>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                  <input formControlName="email" id="email" type="email" class="form-control" placeholder="Email" aria-label="Email">
                  <small *ngIf="registrationForm.get('email')?.errors && registrationForm.get('email')?.touched" class="text-danger">
                    <small *ngIf="registrationForm.get('email')?.hasError('required')">Le champ email est obligatoire.</small>
                    <small *ngIf="registrationForm.get('email')?.hasError('email')">Veuillez entrer une adresse email valide.</small>
                  </small>
                </div>
                <div class="mb-3">
                  <label for="nom" class="form-label">Nom de l'opérateur <span class="text-danger">*</span></label>
                  <input formControlName="nom" id="nom" type="text" class="form-control" placeholder="Nom de l'opérateur" aria-label="Nom de l'opérateur">
                  <small *ngIf="registrationForm.get('nom')?.errors && registrationForm.get('nom')?.touched" class="text-danger">
                    <small *ngIf="registrationForm.get('nom')?.hasError('required')">Le champ nom de l'opérateur est obligatoire.</small>
                  </small>
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Mot de passe <span class="text-danger">*</span></label>
                  <div class="position-relative">
                    <input
                      formControlName="password"
                      [type]="showPassword ? 'text' : 'password'"
                      id="password"
                      class="form-control"
                      placeholder="Mot de passe"
                      aria-label="Password"
                    >
                    <button
                      type="button"
                      class="btn btn-outline-secondary border-0 position-absolute end-1 top-50 translate-middle-y"
                      (click)="togglePassword()"
                      aria-label="Show/Hide Password"
                    >
                      <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                    </button>
                  </div>
                  <small *ngIf="registrationForm.get('password')?.errors && registrationForm.get('password')?.touched" class="text-danger">
                    <small *ngIf="registrationForm.get('password')?.hasError('required')">Le champ mot de passe est obligatoire.</small>
                    <small *ngIf="registrationForm.get('password')?.hasError('minlength')">Le mot de passe doit comporter au moins 8 caractères.</small>
                    <small *ngIf="registrationForm.get('password')?.hasError('pattern')">Le mot de passe doit contenir au moins une lettre majuscule, une lettre minuscule, un chiffre et un caractère spécial.</small>
                  </small>
                </div>
                <div class="mb-3">
                  <label for="password_confirmation" class="form-label">Confirmez mot de passe <span class="text-danger">*</span></label>
                  <input formControlName="password_confirmation" id="password_confirmation" type="password" class="form-control" placeholder="Confirmez mot de passe" aria-label="Confirm Password">
                  <small *ngIf="registrationForm.get('password_confirmation')?.touched" class="text-danger">
                    <small *ngIf="registrationForm.get('password_confirmation')?.hasError('required')">Le champ de confirmation du mot de passe est obligatoire.</small>
                    <small *ngIf="registrationForm.get('password_confirmation')?.hasError('minlength')">Le mot de passe de confirmation doit comporter au moins 8 caractères.</small>
                    <small *ngIf="registrationForm.errors?.['passwordsDoNotMatch']">
                      Les mots de passe ne correspondent pas.
                    </small>
                  </small>
                </div>

                <div class="text-center">
                  <!-- <button type="button" class="btn bg-gradient-primary w-100 my-4 mb-2" (click)="nextStep()">Suivant</button> -->
                  <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">S'inscrire</button>
                </div>
              </div>

              <!-- Étape 2 -->
              <!-- <div *ngIf="currentStep === 2">
                <div class="mb-3">
                  <label for="nom" class="form-label">Nom de l'opérateur <span class="text-danger">*</span></label>
                  <input formControlName="nom" id="nom" type="text" class="form-control" placeholder="Nom de l'opérateur" aria-label="Nom de l'opérateur">
                  <small *ngIf="registrationForm.get('nom')?.errors && registrationForm.get('nom')?.touched" class="text-danger">
                    <small *ngIf="registrationForm.get('nom')?.hasError('required')">Le champ nom de l'opérateur est obligatoire.</small>
                  </small>
                </div>
                <div class="mb-3">
                  <label for="emailOperateur" class="form-label">Email de l'opérateur <span class="text-danger">*</span></label>
                  <input formControlName="emailOperateur" id="emailOperateur" type="email" class="form-control" placeholder="Email de l'opérateur" aria-label="Email de l'opérateur">
                  <small *ngIf="registrationForm.get('emailOperateur')?.errors && registrationForm.get('emailOperateur')?.touched" class="text-danger">
                    <small *ngIf="registrationForm.get('emailOperateur')?.hasError('required')">Le champ email de l'opérateur est obligatoire.</small>
                    <small *ngIf="registrationForm.get('emailOperateur')?.hasError('email')">Veuillez entrer une adresse email valide.</small>
                  </small>
                </div>
                <div class="mb-3">
                  <label for="adresse" class="form-label">Adresse <span class="text-danger">*</span></label>
                  <input formControlName="adresse" id="adresse" type="text" class="form-control" placeholder="Adresse" aria-label="Adresse">
                  <small *ngIf="registrationForm.get('adresse')?.errors && registrationForm.get('adresse')?.touched" class="text-danger">
                    <small *ngIf="registrationForm.get('adresse')?.hasError('required')">Le champ adresse est obligatoire.</small>
                  </small>
                </div>
                <div class="mb-3">
                  <label for="idville" class="form-label">Ville <span class="text-danger">*</span></label>
                  <select formControlName="idville" id="idville" class="form-control">
                    <option value="" disabled selected>Choisissez une ville</option>
                    <option *ngFor="let ville of villes" [value]="ville.idville">{{ ville.nom }}</option>
                  </select>
                  <small *ngIf="registrationForm.get('idville')?.errors && registrationForm.get('idville')?.touched" class="text-danger">
                    <small *ngIf="registrationForm.get('idville')?.hasError('required')">Le champ ville est obligatoire.</small>
                  </small>
                </div>
                <div class="mb-3">
                  <label for="telephone" class="form-label">Téléphone <span class="text-danger">*</span></label>
                  <input formControlName="telephone" id="telephone" type="text" class="form-control" placeholder="Téléphone" aria-label="Téléphone">
                  <small *ngIf="registrationForm.get('telephone')?.errors && registrationForm.get('telephone')?.touched" class="text-danger">
                    <small *ngIf="registrationForm.get('telephone')?.hasError('required')">Le champ téléphone est obligatoire.</small>
                    <small *ngIf="registrationForm.get('telephone')?.hasError('pattern')">Le numéro de téléphone doit contenir uniquement des chiffres et être compris entre 8 et 15 chiffres.</small>
                  </small>
                </div>
                <div class="mb-3">
                  <label for="telecopie" class="form-label">Télécopie</label>
                  <input formControlName="telecopie" id="telecopie" type="text" class="form-control" placeholder="Télécopie" aria-label="Télécopie">
                </div>
                <div class="text-center">
                  <button type="button" class="btn bg-gradient-secondary w-100 my-4 mb-2" (click)="prevStep()">Précédent</button>
                  <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">S'inscrire</button>
                </div>
              </div> -->
            </form>
            <div class="text-center">
              <p class="text-sm mt-3 mb-0">Déjà un compte? <a [routerLink]="['']" class="text-primary font-weight-bolder">Se connecter</a></p>
              <br>
              <!-- Explication sur les champs obligatoires -->
            <p class="text-muted text-center mb-4"><small><span class="text-danger">*</span> Les champs marqués d'un astérisque sont obligatoires.</small></p>

            </div>

          </div>
        </div>
      </div>
    </div>
    <footer class="footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-8 mx-auto text-center mt-1">
            <p class="mb-0 text-secondary">
              Copyright © <script>
                document.write(new Date().getFullYear())
              </script> Artec.
            </p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</section>
