<footer class="footer bg-primary text-white mt-5 py-4">
  <div class="container">
    <div class="text-center mb-4">
      <p class="text-white font-weight-bold mb-1">' La régulation des télécommunications au profit de la population. '</p>
    </div>
    <hr class="bg-white mb-4">
    <div class="row">
      <div class="col-md-3 mb-3">
      <img src="../assets/img/logo_artec_blanc.png" class="navbar-brand-img mb-4"  alt="main_logo" style="width: 150px;">
      </div>
      <div class="col-md-6 mb-3">
        <h5 class="text-white text-sm">Contact</h5>
        <p class="text-white text-sm mb-2"><i class="fas fa-map-marker-alt me-2"></i>Lot IVL 41 Ter B Andohatapenaka - 101 Antananarivo - MADAGASCAR</p>
        <p class="text-white text-sm mb-2"><i class="fas fa-phone me-2"></i>034 02 421 19 / 033 37 421 19 / 032 07 421 19</p>
        <p class="text-white text-sm mb-2"><i class="fas fa-envelope me-2"></i><a href="mailto:artec&#64;artec.mg" class="text-white text-sm">  artec&#64;artec.mg</a></p>
      </div>
      <div class="col-md-2 mb-3">
        <h5 class="text-white text-sm">Réseaux sociaux</h5>
        <div class="d-flex flex-column">
          <a href="https://www.facebook.com/ArtecMadagascar" target="_blank">
             <p class="text-white text-sm mb-2 d-flex align-items-center"><i class="fab fa-facebook me-2"></i> Facebook</p>
          </a>
          <a href="https://www.linkedin.com/company/autorit%C3%A9-de-r%C3%A9gulation-des-technologies-de-communication/" target="_blank">

           <p  class="text-white text-sm mb-2"><i class="fab fa-linkedin me-2"></i> LinkedIn </p>

          </a>
        </div>
      </div>

    </div>
  </div>
</footer>
