<section class="min-vh-100 mb-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 text-center mx-auto">
        <h2 class="mb-2 mt-8">Réinitialiser le Mot de Passe</h2>
        <div class="card z-index-0">
          <div class="card-body mb-3">
            <div *ngIf="errorMessage" class="alert alert-warning mt-3">{{ errorMessage }}</div>
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit()">
              <div class="mb-3 position-relative">
                <input formControlName="password" [type]="showPassword ? 'text' : 'password'" class="form-control pe-5" placeholder="Nouveau mot de passe" aria-label="New Password">
                <button type="button" class="btn btn-outline-secondary border-0 position-absolute top-50 end-0 translate-middle-y" (click)="togglePassword()">
                  <i [class]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                </button>
              </div>
              <div class="mb-3">
                <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirmer le mot de passe" aria-label="Confirm Password">
              </div>
              <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
