<section class="min-vh-100 mb-8">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 text-center mx-auto">
        <h1 class="mb-2 mt-5">Réinitialiser le Mot de Passe</h1>
        <div class="card z-index-0">
          <div class="card-body mb-3">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPasswordSubmit()">
              <div class="mb-3">
                <input formControlName="password" type="password" class="form-control" placeholder="Nouveau mot de passe" aria-label="New Password">
              </div>
              <div class="mb-3">
                <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Confirmer le mot de passe" aria-label="Confirm Password">
              </div>
              <button type="submit" class="btn btn-primary">Réinitialiser le mot de passe</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
