<div class="container mt-4">

  <nav aria-label="breadcrumb" class="mb-5">
    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
      <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages / Formulaires</a></li>
      <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Détails</li>
    </ol>
    <h6 class="font-weight-bolder mb-0">Détails du Formulaire</h6>
  </nav>

  <!-- Lien de retour -->
  <div class="mb-4">
    <a [routerLink]="['/admin/formulaires']" class="btn btn-secondary">
      <i class="fas fa-arrow-left"></i> Retour
    </a>
  </div>

  <div class="row">
    <div class="col-12">
      <!-- Carte pour l'image de fond -->
      <div class="row mb-5">        <!-- Ajuster la largeur pour correspondre -->
        <div class="page-header min-height-300 border-radius-sm mt-4" [style.backgroundImage]="'url(' + imgSrc + ')'" style="background-position: center;">
          <span class="mask bg-gradient-primary opacity-1"></span>
        </div>
        <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden text-center">
          <div class="row gx-4 justify-content-center">
            <div class="col-auto my-auto">
              <div class="h-100">
                <h3 class="text-primary mb-1">{{ formulaires[0]?.nomformulaire }}</h3>
                  <p class="mb-0 font-weight-bold text-sm mt-3 text-wrap">
                    <span class="ms-1" style="word-wrap: break-word; white-space: normal;">
                      {{ formulaires[0]?.descriptiontypeformulaire }}
                    </span>
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card body mb-4">
        <div class="card-header">
          <h6 class="text-primary">{{ formulaires[0]?.nomformulaire }}</h6>
          <span class="ms-1">{{ formulaires[0]?.descriptiontypeformulaire }}</span>
          <img [src]="imgSrc" alt="Image du formulaire" *ngIf="imgSrc" />
        </div>
      </div> -->

          <div class="row">
            <div class="col-md-12 mb-3">
              <div class="card mb-4">
                <div class="card-header bg-primary text-white">
                  <h6 class="text-white">Renseignements sur l’opérateur</h6>
                </div>
                <div class="card-body">
                  <span class="font-weight-bold ms-1">1)</span>
                  <div class="row">
                    <div class="col-md-6 mb-3">
                      <label for="nom" class="form-label">Nom de l'opérateur <span class="text-danger"></span></label>
                      <input formControlName="nom" id="nom" type="text" class="form-control" placeholder="Nom de l'opérateur" aria-label="Nom de l'opérateur">
                      <small *ngIf="registrationForm.get('nom')?.errors && registrationForm.get('nom')?.touched" class="text-danger">
                        <small *ngIf="registrationForm.get('nom')?.hasError('required')">Le champ nom de l'opérateur est obligatoire.</small>
                      </small>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="emailOperateur" class="form-label">Email de l'opérateur <span class="text-danger"></span></label>
                      <input formControlName="emailOperateur" id="emailOperateur" type="email" class="form-control" placeholder="Email de l'opérateur" aria-label="Email de l'opérateur">
                      <small *ngIf="registrationForm.get('emailOperateur')?.errors && registrationForm.get('emailOperateur')?.touched" class="text-danger">
                        <small *ngIf="registrationForm.get('emailOperateur')?.hasError('required')">Le champ email de l'opérateur est obligatoire.</small>
                        <small *ngIf="registrationForm.get('emailOperateur')?.hasError('email')">Veuillez entrer une adresse email valide.</small>
                      </small>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="adresse" class="form-label">Adresse <span class="text-danger"></span></label>
                      <input formControlName="adresse" id="adresse" type="text" class="form-control" placeholder="Adresse" aria-label="Adresse">
                      <small *ngIf="registrationForm.get('adresse')?.errors && registrationForm.get('adresse')?.touched" class="text-danger">
                        <small *ngIf="registrationForm.get('adresse')?.hasError('required')">Le champ adresse est obligatoire.</small>
                      </small>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="idville" class="form-label">Région <span class="text-danger"></span></label>
                      <select formControlName="idville" id="idville" class="form-control">
                        <option value="" disabled selected>Choisissez une région</option>
                        <option *ngFor="let ville of villes" [value]="ville.idville">{{ ville.nom }}</option>
                      </select>
                      <small *ngIf="registrationForm.get('idville')?.errors && registrationForm.get('idville')?.touched" class="text-danger">
                        <small *ngIf="registrationForm.get('idville')?.hasError('required')">Le champ région est obligatoire.</small>
                      </small>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="telephone" class="form-label">Téléphone <span class="text-danger"></span></label>
                      <input formControlName="telephone" id="telephone" type="number" class="form-control" placeholder="Téléphone" aria-label="Téléphone">
                      <small *ngIf="registrationForm.get('telephone')?.errors && registrationForm.get('telephone')?.touched" class="text-danger">
                        <small *ngIf="registrationForm.get('telephone')?.hasError('required')">Le champ téléphone est obligatoire.</small>
                        <small *ngIf="registrationForm.get('telephone')?.hasError('pattern')">Le numéro de téléphone doit contenir uniquement des chiffres et être compris entre 8 et 15 chiffres.</small>
                      </small>
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="telecopie" class="form-label">Télécopie</label>
                      <input formControlName="telecopie" id="telecopie" type="text" class="form-control" placeholder="Télécopie" aria-label="Télécopie">
                    </div>
                    <div class="col-md-6 mb-3">
                      <label for="idstructurejuridique" class="form-label">Structure Juridique <span class="text-danger"></span></label>
                      <select formControlName="idstructurejuridique" id="idstructurejuridique" class="form-control">
                        <option value="" disabled selected>Choisissez une structure juridique</option>
                        <option *ngFor="let structure of structuresJuridique" [value]="structure.idstructurejuridique">{{ structure.nom }}</option>
                      </select>
                      <small *ngIf="registrationForm.get('idstructurejuridique')?.errors && registrationForm.get('idstructurejuridique')?.touched" class="text-danger">
                        <small *ngIf="registrationForm.get('idstructurejuridique')?.hasError('required')">Le champ Structure Juridique est obligatoire.</small>
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


      <!-- Grouper les questions par catégorie -->
      <ng-container *ngFor="let category of getCategories(formulaires)">
        <div class="card mb-4">
          <div class="card-header bg-primary text-white">
            <h6 class="text-white">{{ category.name }}</h6>
          </div>
          <div class="card-body">
            <div class="row">
              <!-- Boucle pour afficher les questions en fonction du nombre de réponses de la catégorie -->
              <ng-container *ngFor="let i of [].constructor(category.nombreReponses); let idx = index">
                <ng-container *ngIf="idx > 0">
                  <hr>
                </ng-container>
                <span class="font-weight-bold ms-1">{{ idx + 1 }})</span>
                <ng-container *ngFor="let question of category.questions">
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <label [for]="question.id + '-' + idx">{{ question.textquestion }}</label>
                      <ng-container [ngSwitch]="question.typequestion">
                        <ng-container *ngSwitchCase="'file'">
                        <input *ngSwitchCase="'file'" [id]="question.id + '-' + idx" type="file" class="form-control" [attr.required]="question.questionobligatoire ? true : null" />
                        <small class="form-text text-muted">
                          Format accepté : PDF | Taille maximale : 4 Mo
                        </small>
                        </ng-container>
                        <input *ngSwitchCase="'text'" [id]="question.id + '-' + idx" type="text" class="form-control" [attr.required]="question.questionobligatoire ? true : null" />
                        <input *ngSwitchCase="'number'" [id]="question.id + '-' + idx" type="number" class="form-control" [attr.required]="question.questionobligatoire ? true : null" />
                        <select *ngSwitchCase="'select'" [id]="question.id + '-' + idx" class="form-control" [attr.required]="question.questionobligatoire ? true : null">
                          <option *ngFor="let option of question.options" [value]="option">{{ option }}</option>
                        </select>
                        <textarea *ngSwitchCase="'textarea'" [id]="question.id + '-' + idx" class="form-control" [attr.required]="question.questionobligatoire ? true : null"></textarea>
                        <!-- Ajoutez d'autres types de questions si nécessaire -->
                      </ng-container>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<!-- Bouton Retour en haut de la page -->
<a  class="btn btn-primary position-fixed bottom-0 end-0 m-2" (click)="scrollToTop()">
  <i class="fas fa-arrow-up"></i>
</a>
