<div class="row">
  <div class="col-12">
    <!-- Carte pour les informations sur l'opérateur -->
    <div class="card body mb-4">
      <div class="card-header">
        <h6 class="text-primary">{{ formulaires[0]?.nomformulaire }}</h6>
        <span class="ms-1">{{ formulaires[0]?.descriptiontypeformulaire }}</span>
      </div>
    </div>

        <div class="row">
          <div class="col-md-12 mb-3">
            <div class="card mb-4">
              <div class="card-header bg-primary text-white">
                <h6 class="text-white">Renseignements sur l’opérateur</h6>
              </div>
              <div class="card-body">
                <span class="font-weight-bold ms-1">1)</span>
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <label for="nom" class="form-label">Nom de l'opérateur <span class="text-danger"></span></label>
                    <input formControlName="nom" id="nom" type="text" class="form-control" placeholder="Nom de l'opérateur" aria-label="Nom de l'opérateur">
                    <small *ngIf="registrationForm.get('nom')?.errors && registrationForm.get('nom')?.touched" class="text-danger">
                      <small *ngIf="registrationForm.get('nom')?.hasError('required')">Le champ nom de l'opérateur est obligatoire.</small>
                    </small>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="emailOperateur" class="form-label">Email de l'opérateur <span class="text-danger"></span></label>
                    <input formControlName="emailOperateur" id="emailOperateur" type="email" class="form-control" placeholder="Email de l'opérateur" aria-label="Email de l'opérateur">
                    <small *ngIf="registrationForm.get('emailOperateur')?.errors && registrationForm.get('emailOperateur')?.touched" class="text-danger">
                      <small *ngIf="registrationForm.get('emailOperateur')?.hasError('required')">Le champ email de l'opérateur est obligatoire.</small>
                      <small *ngIf="registrationForm.get('emailOperateur')?.hasError('email')">Veuillez entrer une adresse email valide.</small>
                    </small>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="adresse" class="form-label">Adresse <span class="text-danger"></span></label>
                    <input formControlName="adresse" id="adresse" type="text" class="form-control" placeholder="Adresse" aria-label="Adresse">
                    <small *ngIf="registrationForm.get('adresse')?.errors && registrationForm.get('adresse')?.touched" class="text-danger">
                      <small *ngIf="registrationForm.get('adresse')?.hasError('required')">Le champ adresse est obligatoire.</small>
                    </small>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="idville" class="form-label">Ville <span class="text-danger"></span></label>
                    <select formControlName="idville" id="idville" class="form-control">
                      <option value="" disabled selected>Choisissez une ville</option>
                      <option *ngFor="let ville of villes" [value]="ville.idville">{{ ville.nom }}</option>
                    </select>
                    <small *ngIf="registrationForm.get('idville')?.errors && registrationForm.get('idville')?.touched" class="text-danger">
                      <small *ngIf="registrationForm.get('idville')?.hasError('required')">Le champ ville est obligatoire.</small>
                    </small>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="telephone" class="form-label">Téléphone <span class="text-danger"></span></label>
                    <input formControlName="telephone" id="telephone" type="text" class="form-control" placeholder="Téléphone" aria-label="Téléphone">
                    <small *ngIf="registrationForm.get('telephone')?.errors && registrationForm.get('telephone')?.touched" class="text-danger">
                      <small *ngIf="registrationForm.get('telephone')?.hasError('required')">Le champ téléphone est obligatoire.</small>
                      <small *ngIf="registrationForm.get('telephone')?.hasError('pattern')">Le numéro de téléphone doit contenir uniquement des chiffres et être compris entre 8 et 15 chiffres.</small>
                    </small>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label for="telecopie" class="form-label">Télécopie</label>
                    <input formControlName="telecopie" id="telecopie" type="text" class="form-control" placeholder="Télécopie" aria-label="Télécopie">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


    <!-- Grouper les questions par catégorie -->
    <ng-container *ngFor="let category of getCategories(formulaires)">
      <div class="card mb-4">
        <div class="card-header bg-primary text-white">
          <h6 class="text-white">{{ category.name }}</h6>
        </div>
        <div class="card-body">
          <div class="row">
            <!-- Boucle pour afficher les questions en fonction du nombre de réponses de la catégorie -->
            <ng-container *ngFor="let i of [].constructor(category.nombreReponses); let idx = index">
              <ng-container *ngIf="idx > 0">
                <hr>
              </ng-container>
              <span class="font-weight-bold ms-1">{{ idx + 1 }})</span>
              <ng-container *ngFor="let question of category.questions">
                <div class="col-md-6 mb-3">
                  <div class="form-group">
                    <label [for]="question.id + '-' + idx">{{ question.textquestion }}</label>
                    <ng-container [ngSwitch]="question.typequestion">
                      <input *ngSwitchCase="'file'" [id]="question.id + '-' + idx" type="file" class="form-control" [attr.required]="question.questionobligatoire ? true : null" />
                      <input *ngSwitchCase="'text'" [id]="question.id + '-' + idx" type="text" class="form-control" [attr.required]="question.questionobligatoire ? true : null" />
                      <input *ngSwitchCase="'number'" [id]="question.id + '-' + idx" type="number" class="form-control" [attr.required]="question.questionobligatoire ? true : null" />
                      <select *ngSwitchCase="'select'" [id]="question.id + '-' + idx" class="form-control" [attr.required]="question.questionobligatoire ? true : null">
                        <option *ngFor="let option of question.options" [value]="option">{{ option }}</option>
                      </select>
                      <textarea *ngSwitchCase="'textarea'" [id]="question.id + '-' + idx" class="form-control" [attr.required]="question.questionobligatoire ? true : null"></textarea>
                      <!-- Ajoutez d'autres types de questions si nécessaire -->
                    </ng-container>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
