<section class="min-vh-100 mb-8">
  <div class="container">
    <!-- Modal de confirmation -->
    <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmationModalLabel">Confirmation de Suppression</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Êtes-vous sûr de vouloir supprimer cet opérateur ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="button" class="btn btn-danger" (click)="confirmDelete()" data-bs-dismiss="modal">Supprimer</button>
          </div>
        </div>
      </div>
    </div>

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Opérateurs</li>
      </ol>
      <h6 class="font-weight-bolder mb-0">Liste des Opérateurs à Sensibiliser</h6>
    </nav>

    <div class="row mb-4 d-flex justify-content-end">
      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <a href="/admin/nouvelOperateur" class="text-decoration-none">
          <div class="card bg-white text-center">
            <div class="card-body p-3 d-flex align-items-center justify-content-between">
              <p class="font-weight-bolder mb-0 text-primary text-sm">
                Sensibiliser Opérateur
              </p>
              <div class="card align-items-center justify-content-center bg-primary" style="width: 35px; height: 35px;">
                <i class="fa fa-bullhorn text-white" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
        <a href="/admin/nouvelOperateur" class="text-decoration-none">
          <div class="card bg-white text-center">
            <div class="card-body p-3 d-flex align-items-center justify-content-between">
              <p class="font-weight-bolder mb-0 text-primary text-sm">
                Nouvel Opérateur
              </p>
              <div class="card align-items-center justify-content-center bg-primary" style="width: 35px; height: 35px;">
                <i class="fa fa-plus text-white" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header bg-primary text-white">
            <h6 class="text-white">Opérateurs à sensibiliser</h6>
          </div>
          <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
              <table class="table align-items-center mb-0">
                <thead>
                  <tr>
                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">Nom</th>
                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Email</th>
                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Ville</th>
                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let operateur of operateurs">
                    <td class="ps-4 text-sm">{{ operateur.nom }}</td>
                    <td class="text-sm">{{ operateur.email }}</td>
                    <td class="text-sm">{{ operateur.ville }}</td>
                    <td class="text-sm">
                      <div class="d-flex align-items-center">
                        <a [routerLink]="['/admin/editOperateurCible', operateur.idoperateurcible]" class="text-sm text-primary me-3">
                          <i class="fas fa-edit"></i>
                        </a>
                        <a href="#" class="text-sm text-danger" data-bs-toggle="modal" data-bs-target="#confirmationModal" (click)="setDeleteId(operateur.idoperateurcible)">
                          <i class="fas fa-trash"></i>
                        </a>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="operateurs.length === 0">
                    <td colspan="4" class="text-center text-sm">Aucun opérateur disponible.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
